body{
    background: url(images/dust_scratches.png) repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

.header{
    color: #ffff;
    background: #6f2c8a;
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
}


h2{
    text-align: center;
}

p{
    text-align: center;
}

a.ghost-button{
    display: block;
    padding: 20px;
	margin: 20px 10px;
    background: transparent;
	border: 1px solid #ccc;	
    text-shadow: 2px 2px 7px rgba(150, 150, 150, 1);
    color: 000080;
    text-align:center;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;

}

a{
    display: inline-block;
	padding: 20px;
    margin: 20px 10px;
}

.donate{
    text-align:center;
}

a.btn{
    background: rgb(247, 247, 247);
	background: -moz-linear-gradient(92deg, rgb(247, 247, 247) 18%, rgb(142, 142, 142) 79%);
	background: -webkit-linear-gradient(92deg, rgb(247, 247, 247) 18%, rgb(142, 142, 142) 79%);
	background: -o-linear-gradient(92deg, rgb(247, 247, 247) 18%, rgb(142, 142, 142) 79%);
	background: -ms-linear-gradient(92deg, rgb(247, 247, 247) 18%, rgb(142, 142, 142) 79%);
	background: linear-gradient(182deg, rgb(247, 247, 247) 18%, rgb(142, 142, 142) 79%);
    border: 1px solid #000;
	text-shadow: 2px 2px 7px rgba(150, 150, 150, 1);
	color: 3a243b;
    text-transform: uppercase;
    font-size: 22px;
    border-radius: 5px;
}

footer{
    text-align: center;

}